<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Abdou's Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    
</head>

<header>
    <div class="nav-left">
        <h1><a href="{% url 'home' %}">Abdou's Blog</a></h1>
    </div>
    

    <div class="nav-right">
        <a href="{% url 'post_new' %}">+ new Blog Post</a>
    </div>


</header>

<body>
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p> | <a href="{% url 'logout' %}">Log out</a>
{% else  %}
    <p>you're not logged in</p>
    <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign up</a>
{% endif %}

<div>
    {% block content %}
    {% endblock content %}
</div>

</body>
<footer>
    Github : AbdouTlili
</footer>
</html>